body {
    margin: auto 0px;
}

.row {
    color: #777777;
}

nav {
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: solid #cccccc 2px;
}

#logo {
    background-color: #4aaaa5;
    padding: 5px;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

#links {
    position: relative;
    top: 20px;
    color: #999;
    margin: 10px;
}

#main-content {
    width: 960px;
    border: solid #cccccc 1px;
    padding: 20px;
}

h2{
    border-bottom: solid #cccccc 2px;
    padding: 5px;
    color: #4aaaa5;
}

#context {
    float: right;
    color: #666666;
    width: 100px;
    text-align: right;
}

img {
    width: 225px;
    float: left;
    margin-right: 15px;
}

.footer {
    background-color: #666666;
    padding: 20px;
    text-align: center;
    border-top: solid #4aaaa5;
    margin-top: 50px;
}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }